@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
::-webkit-scrollbar{
  display: none;
}
@theme{
  --color-primary: #504435;
}